        <h1>Eliminar Producto con el ID</h1>

        <input type="text" id="ell2">
        <button id="ell">Enviar</button>
        <p></p>

        <h1>Lista de Productos</h1>
        <h3 id="lista"></h3>

        <h1>Ingrese Producto en Formato JSON</h1>
        <label>Titulo: <input type="text" id="title"></label><br>
        <label>Descripcion: <input type="text" id="descripction"></label><br>
        <label>Precio: <input type="text" id="price"></label><br>
        <label>Code: <input type="text" id="code"></label><br>
        <label>Stock: <input type="text" id="stock"></label><br>
        <button id="botAdd">Enviar</button>