<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio web</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<title>Mi Aplicación con Sockets</title>
    <body>
        <h1>Eliminar Producto con el ID</h1>

        <input type="text" id="ell2">
        <button id="ell">Enviar</button>
        <p></p>

        <h1>Lista de Productos</h1>
        <h3></h3>

        <h1>Ingrese Producto en Formato JSON</h1>
        <input type="text" id="botAdd2">
        <button id="botAdd">Enviar</button> 
        
        <script src="js/index.js"></script>
    </body>
</html>

